.blog-preview {
  width: 45%;
  margin-bottom: 100px; 
  
  img {
    width: 100%;
  }

  .preview {
    display: flex;
    flex-direction: column;
    padding: 10px 0 30px 0;

    .titleww {
      font-size: 40px;
      align-self: start;
    }
  
    .authorww {
      margin: 6px 0;
      align-self: start;
    }

    .detailsww {
      display: flex;
      flex-direction: row;
      align-self: start;
      margin-bottom: 20px;

      .timeww, .lengthww {
        color: grey;
        margin-right: 10px;
      }
    }

    .desc {
      align-self: start;
    }
  }
}