body {
  /* font-family: 'Roboto slab' sans-serif; */
  margin: 1% auto;
  width: 80vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

h1, h2, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
